In [22]:
import pandas as pd

In [23]:
print(pd.__version__)

1.5.3

In [24]:
A = pd.Series([3,4,5,6], index=['b','a','c','d'])

In [25]:
B=pd.Series({'A':4,'B':3,'C':2,'D':1})

In [26]:
type(A.values)

numpy.ndarray

In [27]:
type(A.index)

pandas.core.indexes.base.Index

In [28]:
type(A)

pandas.core.series.Series

In [29]:
A['a']

4

In [30]:
A['b':'c']

b    3
a    4
c    5
dtype: int64

In [31]:
A['a':'d']

a    4
c    5
d    6
dtype: int64

In [32]:
A['a':'b']

Series([], dtype: int64)

In [33]:
B

A    4
B    3
C    2
D    1
dtype: int64

In [34]:
grades = {'A':4, 'B':3, 'C':2, 'D':1, 'F':0}
marks = {'A':85, 'B':75, 'C':65, 'D':55, 'F':0}

In [35]:
D = pd.DataFrame({'Score': marks, 'Grade Point': grades})

In [36]:
D

   Score  Grade Point
A     85            4
B     75            3
C     65            2
D     55            1
F      0            0

In [37]:
D.T

              A   B   C   D  F
Score        85  75  65  55  0
Grade Point   4   3   2   1  0

In [38]:
D.values

array([[85,  4],
       [75,  3],
       [65,  2],
       [55,  1],
       [ 0,  0]])

In [39]:
D.values[2,0]

65

In [40]:
D.columns

Index(['Score', 'Grade Point'], dtype='object')

In [41]:
D['Scaled from 90'] = D['Score'] / 100 * 90

In [42]:
D

   Score  Grade Point  Scaled from 90
A     85            4            76.5
B     75            3            67.5
C     65            2            58.5
D     55            1            49.5
F      0            0             0.0

In [43]:
Pass = D[(D['Score'] > 50) & (D['Grade Point'] >= 2)]

In [44]:
Pass

   Score  Grade Point  Scaled from 90
A     85            4            76.5
B     75            3            67.5
C     65            2            58.5

In [48]:
A = pd.DataFrame([{'a':1,'b':2}, {'b':3, 'c':4}])

In [49]:
A.fillna(0)

     a  b    c
0  1.0  2  0.0
1  0.0  3  4.0

In [50]:
B = pd.DataFrame([{'a':1,'b':2}, {'b':3, 'c':4}])

In [51]:
B.dropna()

Empty DataFrame
Columns: [a, b, c]
Index: []

In [52]:
A = pd.Series([3,4,5,6], index=['b','a','c','d'])

In [53]:
A[1]

4

In [54]:
B = pd.Series(['a','b','c'], index=[1,3,5])

In [55]:
B[1]
# explicit index = self defined index

'a'

In [57]:
# B[2] is not valid

In [59]:
B[1:3]
# implicit index = the machine defined index
# index "1" = 0, "3" = 1, "5" = 2 ===> "explicit" = implicit

3    b
5    c
dtype: object

In [60]:
B.loc[1:3]

1    a
3    b
dtype: object

In [61]:
B.iloc[1]

'b'

In [62]:
B.loc[1]

'a'